@import "../fonts/fonts.css";

body{
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  background-color: #f3f2f2;
  header{
    font-family: Roboto Slab;
    #nav{
      width: 100vw;
      height: 60px;
      position: fixed;
      z-index: 1;
    }
    nav{
      position: fixed;
      width: 80%;
      left: 10%;
      z-index: 1;
      /* unvisited link */
      a:link {
        color: white;
      }

      /* visited link */
      a:visited {
        color: white;
      }

      /* mouse over link */
      a:hover {
        color: white;
      }

      /* selected link */
      a:active {
        color: white;
      }
      ul{
        li{
          display: inline-block;
          margin: 25px 20px;
        }
      }
      div{
        a{
          text-decoration: none;
        }
        &.nav-link{
          float: left;
          font-family: "Roboto Slab Bold";

        }
        &.nav-langages{
          font-family: "Roboto Slab Light";
          .current{
            font-family: "Roboto Slab Bold";

          }
          color: white;
          float: right;
          margin: 25px 20px;

        }

      }
    }
    section{
      height: 80vh;
      background-image: url("../img/background.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 40px 0;
      article{
        position: relative;
        height: 100%;
        div{
          position: absolute;
          bottom: 20px;
          color: #ffffff;
          width: 55%;
          h1{
            font-size: 50px;
            font-family: Roboto Slab Bold;
            text-transform: uppercase;
          }
          h2{
            font-size: 43px;
            font-family: Roboto Slab Light;
          }
        }
      }
    }
  }
  h2{
    font-family: Roboto Slab Bold;
  }
  h2, h3{
    text-transform: uppercase;
  }
  section{
    &>article{
      width: 80%;
      margin: 0 auto;
      padding:1.5% 0;
      h2{
        font-size: 34px;
        margin: 4% 0;
      }
    }
    &#firstSection{
      color: #ffffff;
      background-color: #23c7ee;
      padding: 5% 0;
      line-height: 40px;
      p{
        width: 80%;
        font-family: Roboto Slab;
        font-size: 30px;
      }
      h2{
        margin-top: 10px;
        width: 60%;
        font-family: Roboto Slab Bold;
        margin-bottom: 0;

      }
    }
    &#secondSection{
      margin: 0 0 2% 0;
      h2{
        font-family: Roboto Slab Bold;
        color: #23c7ee;
        margin: 4% 0;
        font-size: 34px;
      }
      article>article{
        display: inline-block;
        width: 33%;
        font-family: "OpenSans Bold";
        font-size: 1.3em;
        h3{
          color: white;
          display: inline;
          padding: 5px 10px;
          &.blue{
            background: #0094c9;
          }
          &.turquoise{
            background: #18d4c6;
          }
          &.green{
            background: #a3d55f;
          }
        }
        ul{
          color: #706a6f;
          li{
            margin: 25px 0;
          }
        }
      }
    }
    &#thirdSection{
      background: #00bcb5;
      color: #ffffff;
      height: 210px;
      padding: 3% 0;
      div{
        display: inline-block;
        &:first-child{
          width: 70%;
          margin-right: 15px;
        }
        &:last-child{
          width: 20%;
        }
        p{
          font-family: "Roboto Slab Light";
          font-size: 36px;
          line-height: 54px;
          text-align: left;
          padding-bottom: 25px;
        }
        footer{
          font-family: "Roboto Slab Bold";
          text-align: right;
          margin: 2% 0 2% 0;
          font-size: 21px;

        }
      }
    }
    &#fourthSection{
      h2{
        color: #23c7ee;
        margin: 4% 0 2% 0;
      }
      &>article{
        &>header{
          padding: 3% 10%;
          width: 100vw;
          margin: 0 -13%;
          background-image: url("../img/paris.jpg");
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          color: #ffffff;
          article{
            width: 23%;
            margin:1% 2.5%;
            &:first-child{
              h3{
                font-family: "OpenSans Bold";
                display: inline-block;
              }
            }
            &:last-child{
              h2{
                color: #ffffff;
                margin: 3% 0 0 0px;
                font-size: 32px;
              }
              p{
                font-family: "Roboto Slab Light";
                font-size: 32px;
                text-transform: uppercase;
              }
            }

          }
        }
        &>article{
          margin: 5% 0;
          position: relative;
          &>article{
            clear: both;
            &:last-child{
              position: relative;
              top: 30px;
            }
          }
          section{
            width: 48%;
            &.left{
              float: left;
            }
            &.right {
              float: right;
            }
            &.text{
              padding-top: 10%;
            }
            article{
              margin:0;
              width:100%;
            }
            h4{
              color: #23c7ee;
              text-transform: uppercase;
              font-family: "OpenSans Bold";
              font-size: 18px;
              line-height: 25px;
            }
            img{
              width: 100%;
            }
            p{
              color: #706a6f;
              font-size: 28px;
              text-transform: uppercase;
              font-family: "Roboto Slab Light";
              line-height: 38px;
              .bold{
                font-family: "Roboto Slab Bold";
              }
            }
          }
        }
      }
    }
    &#fifthSection{
      clear: both;
      background-color: #23c7ee;
      border-top: 50px solid #f3f2f2;
      article{
        padding:5% 0;
        div{
          display: inline-block;
          &:first-child{
            float: left;
            width: 20%;
            color: #fff;
            p{
              font-size: 28px;
              line-height: 39px;
              font-family: "Roboto Slab Light";
            }
          }
          &:last-child{
            width: 79%;
            text-align: right;
            li{
              text-align: center;
              display: inline-block;
              padding: 15px 0px;
              width: 20%;
              vertical-align: middle;
            }
          }
        }

      }
    }
    &#sixthSection{
      background-color: #f3f2f2;
      article{
        color: #706a6f;
        padding:0;
        h2{
          margin-top: 60px;
          margin-bottom: 36px;
        }
        &>ul{
          &>li{
            background-color: white;
            display: inline-block;
            width: 30%;
            margin:0 3% 2% 0;
            div{
              position: relative;
              padding:5%;
              ul{
                top: 30%;
                right: 2vw;
                left: 9.5vw;
                position: absolute;
                h3{
                  font-family: "Roboto Slab Bold";
                }
                h4{
                  font-family: "Roboto Slab";
                  font-size: 0.9em;
                  margin-top: 2%;
                }
              }
            }
          }
        }
      }
    }
    &#seventhSection{
      h2{
        color: #23c7ee;
      }
      &>article{
        padding: 0;
        &>header{
          padding: 3% 10%;
          width: 100vw;
          margin: 0 -13%;
          background-image: url("../img/credo.jpg");
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          color: #ffffff;
          article{
            width:23%;
            margin: 3% 3%;
            padding: 60px 25px;
              background-color: rgba(0,0,0,0.5);
              h2{
                color: #ffffff;
                margin: 3% 0 25px 0px;
                font-size: 34px;
              }
              p{
                font-family: "Roboto Slab Light";
                font-size: 24px;
                line-height: 35px;
              }

          }
        }
        &>article{
          margin: 5% 0;
          position: relative;
        }
      }
    }
    &#heigthSection{
      background-color: #f3f2f2;
      h2{
        font-family: Roboto Slab Bold;
        color: #23c7ee;
        margin-top: 60px;
        margin-bottom: 36px;
      }
      article{
        margin:30px auto;
      }
      article>article{
        font-size: 1.3em;
        background-color: white;
        border: 30px solid white;
        overflow: hidden;
        div{
          float: left;
          &:first-child{
            width: 45%;
            iframe{
              width: 100%;
            }
          }
          &:last-child{
            border-left: 20px solid white;
            box-sizing: border-box;
          }
            h3{
              font-family: "Roboto Slab Bold";
              color: #23c7ee;
              display: inline;
              font-size: 24px;

            }
            p{
              font-family: "Roboto Slab Light";
              color: #706a6f;
              font-size: 18px;
              line-height: 25px;
            }
            ul{
              margin-top: 10px;
              li{
                display: inline-block;
              }
            }
          }

        }
      }
    }
  &>footer{
    text-align: center;
    padding: 50px 0;
    background-color: #23c7ee;
    .desktop{
      display: block;
    }
    .mobile{
      display: none;
    }
    h3{
      font-family: "Roboto Slab Bold";
      color: white;
      font-size: 24px;
    }
    form{
      margin: 25px;
      input{
        height: 40px;
        border: none;
        font-family: "Roboto Slab";
        font-size: 14px;
        &[type="email"]{
          width: 250px;
          padding:0 10px;
          box-shadow: 0px 5px 0px #0094c9;
        }
        &[type="submit"]{
          background-color: #0094c9;
          color: #ffffff;
        }
      }

    }
  }

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  body{
    header{
      nav{
        div{
          &.nav-link {
            display: none;
          }

        }
      }
      section{
        background-position: -200px;
        background-size: cover;
        article{
          div{
            h1{
              font-size: 35px;
            }
            h2{
              font-size: 22px;
            }
          }
        }
      }
    }
    section {
      h2{
        font-size:30px ;
      }
      &#firstSection {
        text-align: left;

        p {
          font-size: 18px;
          width: 100%;
        }
        h2 {
          width: 100%;
          font-size: 20px;
        }
      }
      &#secondSection{
        h2{
          font-size: 30px;
          margin: 10% 0;

        }
        article>article{
          display: block;
          width: 100%;
          margin-bottom: 10%;
          h3{
            display: block;
          }
          ul{
            color: #706a6f;
            li{
              margin: 15px 0;
            }
          }
        }
      }
      &#thirdSection{
        height: auto;
        div{
          display: inline-block;
          &:first-child{
            width: 60%;
            margin-right: 15px;
          }
          &:last-child{
            width: 20%;
          }
          p{
            font-size: 20px;
            line-height: 1;
            text-align: left;
          }
          footer{
            text-align: left;
            font-size: 15px;
            margin-top: -10%;
          }
          img{
            width: 25vw;
            position: relative;
            top: -3vh;
          }
        }
      }
      &#fourthSection{

        &>article{
          padding: 0 0;
          width: 80vw;
          &>h2{
            padding: 1.5% 0;
            font-size:30px ;

          }
          &>header{
            padding: 0 0 35% 0;
            background-attachment: initial;
            background-position: -42vw 0;
            background-size: 250%;
            margin:auto;
            width: auto;
            article{
              width: 70%;
              margin: 0 0;
              background: rgba(0,0,0,0.5);
              padding: 25px 0 0 10px;
              &:first-child{
                h3{
                  margin: 0;
                  font-size: 23px;
                  color: #23c7ee;
                }
              }
              &:last-child{
                padding-bottom: 25px;
                h2{
                  margin:0 0 0 0px;
                  font-size: 28px;
                }
                p{
                  font-size: 28px;
                  line-height: 35px;
                }
              }

            }
          }
          &>article{
            section{
              width: 100%;
              &.left{
                float: none;
              }
              &.right {
                float: none;
              }
              &.text{
                padding-top: 0;
              }
              p{
                font-size: 18px;
                .bold{
                }
              }
            }
          }
        }
      }
      &#fifthSection{
        article{
          div{
            display: inline-block;
            &:first-child{
              float: none;
              width: 100%;
              p{
                font-size: 28px;
                line-height: 39px;
                font-family: "Roboto Slab Light";
              }
            }
            &:last-child{
              width: 100%;
              text-align: center;
              li{
                width: 30%;
                img{
                  width:90%;
                }
              }
            }
          }

        }
      }
      &#sixthSection{
        article{
          &>ul{
            &>li{
              display: block;
              width: 100%;
              div{
                ul{
                  left: 35%;
                 }
              }
            }
          }
        }
      }
      &#seventhSection{
        &>article{
          &>header{
            padding: 0;
            width: auto;
            margin:10% 0 0 0%;
            background-attachment: initial;
            background-position: -90vw 0;
            position: relative;
            background-size: 250%;
            height: 60vh;
            article{
              position: absolute;
              left:0;
              width: auto;
              margin: 0% 0%;
              padding: 10px;
              bottom:0;
              background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,0)); /* Standard syntax (must be last) */
              h2{
                margin: 3% 0 5px 0px;
                font-size: 30px;
              }
              p{
                font-size: 18px;
                line-height: 32px;
              }

            }
          }
        }
      }
      &#heigthSection{
        h2{
          font-family: Roboto Slab Bold;
          color: #23c7ee;
          margin-top: 30px;
          margin-bottom: 5px;
        }
        article>article{
          border: 15px solid white;
          div{
            &:first-child{
              width: 100%;
              iframe{
                width: 100%;
              }
            }
            &:last-child{
              border-left: 0px;
            }
            h3{
              font-family: "Roboto Slab Bold";
              color: #23c7ee;
              display: inline;
              font-size: 24px;

            }
            p{
              font-family: "Roboto Slab Light";
              color: #706a6f;
              font-size: 18px;
              line-height: 25px;
            }
            ul{
              margin-top: 10px;
              li{
                display: inline-block;
              }
            }
          }

        }
      }
    }
    &>footer{
      .desktop{
        display: none;
      }
      .mobile{
        display: block;
        width: 70%;
        margin: auto;
      }
    }
  }
}
